<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>ChinhPV6g-TIREALLIFE1023</title>-
    <meta content="" name="description" />
    <meta content="" name="keywords" />

  </head>
  <body>
    <main id="main">
      <section id="team">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3>Udacity</h3>
            <p>Hi Udacity i'm pass project 5 !!!!!!</p>
            <p>version: 3.0</p>
          </div>

 
        </div>
      </section>
    </main>


    <!-- Latest compiled and minified JavaScript -->
    
    <!-- Template Main JS File -->
  
  </body>
</html>
